h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

.chat-area {
  width: 100%;
  height: 100%;
  /*margin: 30px auto;*/
}

.list-div {
  height: 190px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

#chat-window {
  max-height: 650px;
  height: 650px;
  /*height: 88%;*/
  background: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

#output p {
  padding: 14px 0px;
  margin: 0 5px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#output strong {
  color: #575ed8;
}

#output {
  height: 550px;
  overflow: auto;
}

button {
  height: 50px;
}

input {
  height: 50px;
}


