<div class="login">
  <div class="card">
    <h1 class="heading heading--1">Register an account</h1>
    <form (submit)="onSignUp()" class="form" #form="ngForm">
      <div class="form__group">
        <input class="form__input" name="name" [(ngModel)]="model.username" #username="ngModel"
               placeholder="Enter your display name" type="text" required>
        <span class="form__label form__label-name"></span>
        <span class="form__error">
            <span *ngIf="username.invalid && username.touched">Display name is required!</span>
            <span *ngIf="username.valid || !username.touched">&nbsp;</span>
          </span>
      </div>
      <div class="form__group">
        <input class="form__input" placeholder="Enter your email" type="email"
               name="email"
               [(ngModel)]="model.email" #email="ngModel" required>
        <span class="form__label form__label-user"></span>
        <span class="form__error">
            <span *ngIf="email.invalid && email.touched">Please provide a valid email address</span>
            <span *ngIf="email.valid || !email.touched">&nbsp;</span>
          </span>
      </div>
      <div class="form__group">
        <input class="form__input" placeholder="Password" name="password"
               id="password" (keyup.enter)="onLogIn()"
               [(ngModel)]="model.password" #pwd="ngModel" required minlength="6">
        <span class="form__label form__label-lock"></span>
        <span class="form__error">
            <span *ngIf="pwd.invalid && pwd.touched">Password must be at least 6 characters</span>
            <span *ngIf="pwd.valid || !pwd.touched">&nbsp;</span>
          </span>
      </div>
      <div class="form__group" style="text-align: center">
        <button class="btn btn--primary login__btn" type="submit" [disabled]="signingUp || form.invalid">
          <span *ngIf="!signingUp">Sign Up</span>
          <i *ngIf="signingUp" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </button>
      </div>
    </form>
  </div>
</div>

